body {
  font-family: "Poppins", sans-serif, sans-serif;
}
body a {
  text-decoration: none;
}

.sp-thongbao {
  display: none;
  color: red;
}

.loading {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.loading span {
  display: inline-block;
  margin: 0 -0.05em;
}

.loading03 span {
  margin: 0 -0.075em;
  animation: loading03 0.7s infinite alternate;
}
.loading03 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading03 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading03 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading03 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading03 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading03 span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 548px) {
  header .header-main__logo span {
    display: none;
  }
}
#exampleModal h3 {
  text-align: center;
  padding: 20px 0 0;
}
#exampleModal .form-group {
  padding: 5px 0;
}
#exampleModal .input-group-prepend {
  width: 40px;
  height: 40px;
}
#exampleModal .input-group-prepend .input-group-text {
  padding: 0.7rem 0.75rem;
}

header .navbar {
  border-bottom: 1px solid #919294;
}
header .navbar .header-main {
  padding: 10px 0;
}
header .navbar .header-main__logo {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.8rem;
}
header .navbar .header-main__logo img {
  max-width: 50px;
}
header .navbar .header-main__btn {
  background-color: #fff;
}
header .navbar .header-main__menu {
  margin-left: 80px;
}
header .navbar .header-main__menu .header-main__item {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 30px;
}
header .navbar .header-main__icon button i {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
header .navbar .header-main__icon .modal-footer .btnPurchase {
  background-color: #fd7e14;
}

.home__page {
  background-image: url("https://shopping-cart-demo2.vercel.app/customer/view/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}

.home__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__content .link__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home__content .link__item a:hover .link__title {
  color: red;
}
.home__content .link__item a:hover .link__title::before {
  content: "";
  width: 100%;
  height: 3px;
  background: red;
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
}
.home__content .link__item .link__img {
  background: rgb(211, 215, 216);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 60px;
  transition: all 0.5s;
}
.home__content .link__item .link__img:hover {
  transform: translateY(-10px);
}
.home__content .link__item .link__img img {
  max-width: 100%;
}
.home__content .link__item .link__title {
  padding-top: 20px;
  font-size: 40px;
  color: rgb(204, 204, 204);
  font-family: "Times New Roman", Times, serif;
  transition: all 0.5s;
  position: relative;
}
.home__content .link__item .link__title::before {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.phoneBanner {
  background-color: rgba(29, 38, 113, 0.7);
}
.phoneBanner .btn-banner {
  border: 0;
  background-color: #294d5c;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  transition: all 0.15s;
}
.phoneBanner .btn-banner:hover {
  background-color: #fff;
  color: #212529;
}

.product__list {
  display: flex;
}

.carousel-item img {
  max-width: auto;
  margin-top: 50px;
}

.banner-detail h5 {
  color: #fff;
  font-weight: 400;
}
.banner-detail p {
  color: #fff;
  font-weight: 300;
}
.banner-image img {
  max-width: 100%;
  height: auto;
}

.product-list .product-title h5 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
.product-list .product-items__detail .card {
  border-radius: 1.2rem;
}
.product-list .product-items__detail .card .card-subtitle {
  font-size: 15px;
  color: #bf4800 !important;
}
.product-list .product-items__detail .card .card-text {
  margin-right: 15px;
}

.brand-list {
  margin-bottom: 50px;
}
.brand-list .brand-item {
  width: 130px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 0.3rem;
  margin: 5px 10px 5px 10px;
}
.brand-list .brand-item img {
  max-width: 100%;
  max-height: 100%;
}/*# sourceMappingURL=main.css.map */