.phoneBanner {
    background-color: rgba(29, 38, 113, 0.7);
    & .btn-banner {
        border: 0;
        background-color: #294d5c;
        color: rgba(255, 255, 255, 0.85);
        padding: 10px;
        transition: all 0.15s;

        &:hover {
            background-color: $color-white;
            color: #212529;
        }
    }

}

.product__list {
    display: flex;
}
#exampleModal
{
    & h3
    {
        text-align  : center;
        padding: 20px 0 0;
    }

    & .form-group {
        padding: 5px 0;
    }

    & .input-group-prepend
    {
        width: 40px;
        height: 40px;

        & .input-group-text {
            padding : 0.7rem 0.75rem;
        }
    }
}