@import '../abstracts/variables';

body {
    font-family: $font-family;
    a {
        text-decoration: none;
      }
    header {
        .navbar {
            border-bottom: 1px solid $color-dark-1;

            .header-main {
                padding: 10px 50px 10px 50px;

                &__logo {
                    text-decoration: none;
                    color: $color-white;
                    font-weight: 600;
                    font-size: 22px;
                    letter-spacing: .8rem;

                    img {
                        max-width: 50px;
                        max-height: auto;
                    }
                }

                &__btn {
                    background-color: $color-white;
                }

                &__menu {
                    margin-left: 80px;

                    .header-main__item {
                        color: $color-white;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: .1rem;
                        margin-right: 30px;
                    }
                }

                &__icon {
                    a {
                        i {
                            text-decoration: none;
                            color: $color-white;
                            font-size: 1.5rem;
                        }
                    }


                }
            }
        }

        .carousel {
            &-item {
                img {
                    max-width: auto;
                    // max-height: 100vh;
                    margin-top: 50px;
                }
            }


        }
    }

    main {
        .banner {
            &-detail {
                h5 {
                    color: $color-white;
                    font-weight: 400;
                }

                p {
                    color: $color-white;
                    font-weight: 300;
                }
            }

            &-image {
                img {
                    max-width: 100%;
                    height: auto;
                }

            }
        }

        .product-list {
            .product-title {
                h5 {
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: .5rem;
                }
            }

            .product-items {
                &__detail {
                    .card {
                        border-radius: 1.2rem;

                        .card-subtitle {
                            font-size: 15px;
                            color: $color-red-1 !important;
                        }

                        .card-text {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        .brand-list {
            margin-bottom: 50px;

            .brand-item {
                width: 130px;
                height: 40px;
                border: 1px solid $color-black;
                border-radius: .3rem;
                margin: 5px 10px 5px 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

            }
        }
    }
}