header {
    .navbar {
        border-bottom: 1px solid $color-dark-1;

        .header-main {
            padding: 10px 0;

            &__logo {
                color: $color-white;
                font-weight: 600;
                font-size: 22px;
                letter-spacing: .8rem;

                img {
                    max-width: 50px;
                }
            }

            &__btn {
                background-color: $color-white;
            }

            &__menu {
                margin-left: 80px;

                .header-main__item {
                    color: $color-white;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: .1rem;
                    margin-right: 30px;
                }
            }

            &__icon {
                button {
                    i {
                        text-decoration: none;
                        color: $color-white;
                        font-size: 1.5rem;
                    }
                }

                .modal-footer {
                    .btnPurchase {
                        background-color: $color-orange-1;
                    }
                }
            }
        }
    }
}