$width : 50%;
$height : 200px;
$fs_title : 40px;
$white : #fff;
a
{
  color: red;
}
.home__page
{
  background-image: url('https://shopping-cart-demo2.vercel.app/customer/view/img/bg.jpg');
  background-size: cover;
  height: 100vh;
  
}
.home__content
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  & .link__item
  {
    & a
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    & .link__img
    {
      background: rgb(211, 215, 216);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border-radius: 60px;
      transition: all .5s;
      &:hover
      {
        transform: translateY(-10px);
      }
      & img
      {
        max-width: 100%;
        height: $height;
      }
    }
    & .link__title
    {
      padding-top: 20px;
      font-size: $fs_title;
      color: rgb(204, 204, 204);
      font-family: 'Times New Roman', Times, serif;
      transition: all .5s;
      position: relative;
      &::before
        {
          content: '';
          width: 0;
          position: absolute;
          bottom: 0;
          transition: all .3s;
        }
      &:hover
      {
        color:red;
    
        &::before
        {
          content: '';
          width: 100%;
          height: 3px;
          background: red;
          position: absolute;
          bottom: 0;
        }
      }
      
    } 
  }  
}
