$width : 50%;
$height : 200px;
$fs_title : 40px;
$white : #fff;
a
{
  color: red;
  text-decoration: none;
}
.home__page
{
  background-image: url('https://shopping-cart-demo2.vercel.app/customer/view/img/bg.jpg');
  background-size: cover;
  height: 100vh;
  
}
.home__content
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  & .link__item
  {
    & a
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    & .link__img
    {
      background: rgb(211, 215, 216);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border-radius: 60px;
      transition: all .5s;
      &:hover
      {
        transform: translateY(-10px);
      }
      & img
      {
        max-width: 100%;
        height: $height;
      }
    }
    & .link__title
    {
      padding-top: 20px;
      font-size: $fs_title;
      color: rgb(204, 204, 204);
      font-family: 'Times New Roman', Times, serif;
      transition: all .5s;
      position: relative;
      
      &:hover
      {
        color:red;
    
        &::before
        {
          content: '';
          width: 100%;
          height: 3px;
          background: red;
          position: absolute;
          bottom: 0;
        }
      }
      
    } 
    &::before
        {
          content: '';
          width: 10px;
          position: absolute;
          bottom: 0;
          transition: all .3s;
        }
  }  
}
.navbar
{
  background: rgb(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  & a,i{
    color: $white;
    padding: 10px 0;
    font-size: 22px;
  }
  & .navbar-collapse
  {
    padding: 10px 0;
    justify-content: space-between;
    & .nav2
    {
      justify-content: flex-end;
    }
    & .nav-link
    {
      color: $white;
    } 
  }
}
.phoneBanner
{
  background-color: rgba(29, 38, 113, 0.7);
  margin: 150px 0;
  & .btn-banner
  {
    border: 0;
    background-color: #294d5c;
    color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    transition: all 0.15s; 
    &:hover
    {
        background-color: $white;
        color: #212529;
      }
  }
   
}
.product__list
{
  display: flex;
}
